*.orig
*.pyc
*~
.cache/
.coverage
.eggs/
.env
.project
.pydevproject
.pytest_cache/
.ropeproject
.sass-cache
.tox/
.venv
build
db.sqlite3
dist
django_markdown_app.egg-info/
docs/_*
sitegen.egg-info
todo.txt
