language: python

python:
- "3.5"
- "3.6"

branches:
    only:
    - master
#    - develop

install: pip install tox-travis

script: tox

after_script:
- if [ $TOXENV == "cov" ]; then
    pip install coveralls;
    coveralls;
  fi
